rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document} {
      allow create: if request.auth.uid == document;
      allow read: if true;
      allow write: if request.auth.uid == document;
      allow delete: if false;
    }

    match /users/{parent}/user_counts/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if request.auth.uid == parent;
    }

    match /reflections/{document} {
      allow create: if request.resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow read: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /cases/{document} {
      allow create: if request.resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow read: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /users/{parent}/user_reflection_counts/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if request.auth.uid == parent;
    }

    match /resources/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /reported_resources/{document} {
      allow create: if request.auth != null;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /suggestion_box/{document} {
      allow create: if request.auth != null;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /education/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /news/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /research/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /presenting_complaints/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if resource.data.owner == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if request.auth != null;
    }

    match /examinations/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /quizResult/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /quizzes/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /company/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /questions/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /user_responses/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /inote/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /defaultTemplates/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /defaultTemplates/{parent}/sections/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/sections/{document} {
      allow read: if false;
    }


    match /rows/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /rows/{parent}/options/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/options/{document} {
      allow read: if false;
    }


    match /prompt/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /flashcards/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /flashcard_categories/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /flashcard_tags/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /users/{parent}/user_flashcard_progress/{document} {
      allow create: if request.auth.uid == parent;
      allow read: if true;
      allow write: if request.auth.uid == parent;
      allow delete: if request.auth.uid == parent;
    }

    match /flashcard_feedback/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /CPD_record/{document} {
      allow create: if request.auth != null;
      allow read: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /search/{document} {
      allow create: if request.auth != null;
      allow read: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /search_results/{document} {
      allow create: if request.auth != null;
      allow read: if resource.data.result_user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if resource.data.result_user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.result_user == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /ICBs/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if false;
      allow delete: if false;
    }

    match /ICBs/{parent}/ICB_resources/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/ICB_resources/{document} {
      allow read: if request.auth != null;
    }


    match /row_unit/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /row_unit/{parent}/unit_options/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/unit_options/{document} {
      allow read: if false;
    }


    match /templateV2/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /templateV2/{parent}/sectionV2/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/sectionV2/{document} {
      allow read: if false;
    }


    match /rowV2/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /flowchartNode/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /clicknote_usage/{document} {
      allow create: if request.auth != null;
      allow read: if resource.data.user_ref == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if false;
      allow delete: if false;
    }

    match /clicknote_templates/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /clicknote_templates/{parent}/clicknote_sections/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/clicknote_sections/{document} {
      allow read: if false;
    }


    match /clicknote_rows/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /clicknote_rows/{parent}/clicknote_options/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/clicknote_options/{document} {
      allow read: if false;
    }


    match /clicknote_v2_usage/{document} {
      allow create: if request.auth != null;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /news_clicks/{document} {
      allow create: if request.auth != null;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /clicknote_templates/{parent}/comments/{document} {
      allow create: if false;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/comments/{document} {
      allow read: if false;
    }


    match /clicknote_comments/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if false;
      allow delete: if resource.data.user_ref == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /reflection_ACP/{document} {
      allow create: if request.resource.data.user_ref == /databases/$(database)/documents/users/$(request.auth.uid);
      allow read: if resource.data.user_ref == /databases/$(database)/documents/users/$(request.auth.uid);
      allow write: if resource.data.user_ref == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.user_ref == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /flattened_templates/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if resource.data.template_user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.template_user == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /flattened_templates/{parent}/flattened_template_comments/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if resource.data.user_id == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /{path=**}/flattened_template_comments/{document} {
      allow read: if request.auth != null;
    }


    match /cpd_calendar/{document} {
      allow create: if false;
      allow read: if request.auth != null;
      allow write: if false;
      allow delete: if false;
    }

    match /common_passwords/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /audit_logs/{document} {
      allow create: if true;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }
  }
}
